<% provide(:title, 'About this project') %>
<h1>Build Your Own SaaS with Docker</h1>
<p>This is a a proof of concept with a simple Memcached SaaS</p>
<p>
  Download the source code from <a href="https://github.com/jbarbier/SaaS_Memcached">GitHub</a>
</p>
<p>
  Download the document on <a href="http://www.slideshare.net/julienbarbier42/building-a-saas-using-docker">SlideShare</a>
</p>
<p>
<center>

<iframe src="http://www.slideshare.net/slideshow/embed_code/18775677" width="479" height="511" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/julienbarbier42/building-a-saas-using-docker" title="Build Your Own SaaS using Docker" target="_blank">Build Your Own SaaS using Docker</a> </strong> from <strong><a href="http://www.slideshare.net/julienbarbier42" target="_blank">julienbarbier42</a></strong> </div>

</center>
</p>
