<% provide(:title, 'Memcached Server') %>
<div class="center hero-unit">
  <h1>Get your Memcached</h1>

  <h2>Sign up to get your own Memcached Server</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

