<% provide(:title, 'Memcached Server') %>
<h1>Get your Memcached</h1>
<p>
  This is the home page for the my cs50 final project application.
  You can find the source code on <a href="https://github.com/jbarbier/SaaS_Memcached" target="_blank">GitHub</a>
</p>
