<footer class="footer">
  <small>
    See sources on <a href="https://github.com/jbarbier/SaaS_Memcached/">GitHub</a>
  </small>
  <nav>
    <ul>
      <li>
	This is a CS50 project.
	Do not use this service in production environment.
      </li>
    </ul>
  </nav>
</footer>
