<footer class="footer">
  <small>
    Read the sources on <a href="https://github.com/jbarbier/SaaS_Memcached/">GitHub</a>
  </small>
  <nav>
    <ul>
      <li>
	<a href="http://www.slideshare.net/julienbarbier42/building-a-saas-using-docker">Build your own SaaS using docker</a>
      </li>
    </ul>
  </nav>
</footer>
